.red {
    color: darkred;
  }
  .bold {
    font-weight: bold;
  }
  .Button {
              background: red;
              border: 1px solid black;
              color: white;
              padding: 8px;
              font: inherit;
              cursor: pointer;
  }
  .Button:hover {
    background-color: pink;
  }
  